# MongoDB keys
PORT=5290
MONGO_URI=
JWT_SECRET=
FRONTEND_ORIGIN=http://localhost:5173,http://localhost:5174,http://127.0.0.1:5173,http://127.0.0.1:5174
NODE_ENV=development
NODE_OPTIONS=--openssl-legacy-provider

# Google signin
GOOGLE_CLIENT_ID=

# Github Action workflow Pipeline keys
GITHUB_PAT=
GITHUB_REPO=jobverify/jobverify-backend
SCRAPER_CONCURRENCY=10
WORKDAY_DETAIL_FETCH_CONCURRENCY=1
TRUST_PROXY=1

# Email verification using SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=jobverify.in@gmail.com
SMTP_PASS=<App password of jobverify.in@gmail.com>
SMTP_FROM=Jobverify <jobverify.in@gmail.com>

# Cloudflare Trunstile captcha keys
TURNSTILE_SECRET_KEY=
#0x4AAAAAAERupRubdcfU0AmzszzdzfUsieI
TURNSTILE_ALLOWED_HOSTNAMES=localhost,127.0.0.1
TURNSTILE_EXPECTED_ACTION=login

# Razorpay payment gateway
PAYMENT_PROVIDER=razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Telegram Alert Bot
TELEGRAM_BOT_USERNAME=jobverifying_bot
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=